<strong>Hi, {{ provider }}</strong>
<p>There was a appointment cancellation, Check out the details below: </p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />
  <smail>
    The schedule is again available for new appointments.
  </smail>
</p>
